# OANDA (FX)
OANDA_TOKEN=
OANDA_ACCOUNT_ID=
OANDA_BASE_URL=https://api-fxpractice.oanda.com

# Alpaca (Stocks)
ALPACA_KEY_ID=
ALPACA_SECRET_KEY=
ALPACA_DATA_URL=https://data.alpaca.markets
ALPACA_FEED=iex
